@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html {
    
    background-color: rgb(36, 36, 36);
    font-family: 'Source Code Pro', monospace;
    color: white;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));

}

img{
    width: auto;
    height: 100%;
}


h2{
    color: white;
    background-color: transparent;
    transition: text-shadow 0.2s ease-in-out;
    position: relative;
    text-align: center;
    margin-bottom: -40px;
    font-size: 1.1vw;
    margin: 30px;
    margin-bottom: -50px;
}

h3{
    color: transparent;
    background-color: transparent;
    transition: text-shadow 0.2s ease-in-out;
    position: relative;
    text-align: center;
}
  
h3:hover {
    color: white;
    text-shadow: 0 0 0px rgba(0,0,0,1), 0 0 0px rgba(0,0,0,1), 0 0 0px rgba(0,0,0,1);
    transition: all 0.3s ease;
  }


summary{
    text-align: left;
    margin-left: 18px;
    margin-right: 34px;
}

:root{
    --darkblue: white;
    --royalblue: darkgrey;
    --navy: white;
    --white: grey;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

/*text in images*/
a:link,a:visited,a:active{
    text-decoration: none;
    color: transparent;
}
a:hover{
    text-decoration: none;
    color: white;
}

h1{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 45px;
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--darkblue),
        var(--royalblue),
        var(--white),
        var(--navy)

    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    margin-top: 50px;
}

/*makes it so the divs are side by side*/

.parent {
    text-align: center;
    }
.child {
    display:inline-block;
    vertical-align: left;
    margin-right: 30px;
    margin-bottom: -300px;
    
    }
#indexparent{
    margin-top: 50px;
    margin-bottom: 80px;
    
}

frtext{
    margin-top: -160px;
}



.first{
    align-self: center;
    width: 600px;
    height: 300px;
    object-fit: cover; 
    object-position: top;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    border-radius: 3%;
    display: inline-block;
    color: white;
    align-content: center;
    align-items: center;
    position: relative;
    
}


.imgtext{
    position: absolute;
    top: -330%;
    left: 59%;
    transform: translate(-100%, -100%);
    font-size: 50px;
    text-shadow: 3 3 3px rgba(49, 48, 48, 0), 3 3 3px rgba(49, 48, 48, 0), 3 3 3px rgba(49, 48, 48, 0);
    
}

.frontpage{
    border: #ffffff;
    border-radius: 0px;
    align-self: center;
    width: 700px;
    height: 400px;
    object-fit: cover; 
    object-position: top;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    border-radius: 3%;
    display: inline-block;
    color: white;
    align-content: center;
    align-items: center;
    position: relative;
    top: -180px;
    filter: grayscale(100%);
    margin-bottom: -150px;
    margin-top: 40px;
}

@media only screen and (max-width: 768px) {
    .frontpage {
        width: 80vw;    
    }
    
    #image-1 {
        width: 80vw;
    }

    footer {
        font-size: 2vw;
    }  

    h2 {
        font-size: 2vw;
    }

  }


  @media only screen and (max-height: 600px) {
    .frontpage {
        float: none;
        margin-top: 240px;
    }
    
   
  }

.frontpage:hover{
    transform: scale(1);
    filter: grayscale(0%);
    transition: all 0.4s ease;
}


@media only screen and (max-width: 768px) {
    
      
}
  


a:hover .first{
    transform: scale(1.1);
    /* filter: blur(5px); */
    transition: all 0.3s ease;
    position: relative;
    filter:opacity(0.5);
}


section{
    display: grid;
    place-items: center;
    align-content: center;
    place-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 24px;
}

#new{
    display: grid;
    place-items: center;
    align-content: center;
    place-content: center;
    align-items: center;
    min-height: unset;
    font-size: unset;
}



footer{
    right: 0;
    width: max-content;
    display: block;
    background-color: black;
    color: white;
    z-index: +1;
    margin-bottom: -200px;
    width: 100%;
    text-align: start;
    padding-top: 9px;
    padding-bottom: 9px;
}



/*home button*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:30px;
	background-color:white;
	color:black;
	border-radius:50px;
	text-align:center;
	box-shadow: 3px 3px 3px grey;
    z-index: +1;
}

/*to override getting rid of static hyperlinks*/
#button{
    color: black;
}



.dropbtn{
    font-family: 'Source Code Pro', monospace;
}


#tidio-chat-iframe { bottom: 110px !important; }
@media only screen and (max-width: 980px) {
 #tidio-chat-iframe { bottom: 110px !important;}
}



/*this is being used with the js script to make them slide in and also from blurred to not blurred*/
.fade{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all .7s;
}
.fade1{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.fade3{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all .7s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}




/* ===== Scrollbar CSS ===== */
  /* Firefox */
  /* * {
    scrollbar-width: auto;
    scrollbar-color: #7e7c7c #413e3e;
  } */

  /* Chrome, Edge, and Safari */
  /* *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #413e3e;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #7e7c7c;
    border-radius: 10px;
    border: 3px none #ffffff;
  } */
  


/* Progress bar container */
.progress-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Thickness of the bar */
  background-color: #f1f1f1; /* Light gray background for contrast */
}

/* Progress bar itself */
.progress-bar {
  width: 0; /* Starts at 0, will grow with scroll */
  height: 100%;
  background-color: white; /* White progress bar */
  transition: width 0.2s ease; /* Smooth animation */
}




.progress {
  height: 5px;
  width: 0%;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    width: 100%;
  }
}



:root .progress {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}




p {
    font-size: 22px;
}


restext{
    color: blue;
}





.navbar, .navbar1 {
  position: fixed; /* Fix navbar at the top */
  top: 0; /* Ensure it's at the very top of the page */
  left: 0;
  width: 100%; /* Make the navbar stretch across the entire width */
  z-index: 1000; /* Ensure it stays on top of other elements */
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  margin-right: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
}



/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropdown:hover{
    background-color: black;
    color: white;
}



/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  
  
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  margin-top: 46px;
}



.navbar1 {
    overflow: hidden;
    width: 150%;
    background-color: #333;
    font-family: Arial;
    margin-right: 15px;
  }
  
  
  
  
  /* Links inside the navbar */
  .navbar1 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


#active{
    background-color: black;
}



/* mobile */
@media (max-width: 645px) {
  /* Links inside the navbar */
  .navbar a {
    float: none;
    display: block;
    text-align: center;
  }
  /* Dropdown container */
  .dropdown {
    float: none;
  }
  /* Dropdown content */
  .dropdown-content {
    position: static;
    top: 287px;
  }

  #contactnav{ 
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    margin-right: 15px;

    font-size: 16px;
    color: white;
    text-align: center;
  }
  
}

    






#contactpage{
    
    padding: 0;
    box-sizing: border-box;
}


.bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.8); 
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    border: 10px solid #f1f1f1;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 10px;
    text-align: center;
}








#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
}

.background:nth-child(2) {
    opacity: 0;
}
.background:nth-child(3) {
    opacity: 0;
}
.background:nth-child(4) {
    opacity: 0;
}
.background:nth-child(5) {
    opacity: 0;

}




.grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    width: 90%;
    margin-bottom: 45px;
    margin-top: 60px;
}

.grid-item {
    display: flex;
    justify-content: top;
    align-items: top;
    background-color: transparent;
    padding: 0px;
}

.grid-item img {
    max-width: 100%;
    aspect-ratio: 1;
    height: auto;
}

.grid-item a {
    display: block;
    text-align: center;
    
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    
}












/* loader */


/* 
.load {
    width: 100%;
    height: 100%;

}
* {
    box-sizing: border-box;
}
.preloader {
	position: absolute;
	width: 102px;
	height: 102px;
	left: 50%;
	top: 50%;
	min-height: 102px;
	transform: translateX(-50%) translateY(-50%);
}
.preloader .small-circle {
	stroke-dasharray: 210;
	stroke-dashoffset: 210;
	transform-origin: 50%;
    animation: 1s draw-small infinite alternate;
}
@keyframes draw-small {
	0% { stroke-dashoffset: 0; transform: rotate(0deg); }
	100% { stroke-dashoffset: 210; transform: rotate(360deg); }
}
.preloader .big-circle {
	stroke-dasharray: 240;
	stroke-dashoffset: 240;
	transform-origin: 50%;
    animation: 1s draw-big infinite alternate 0.5s;
}
@keyframes draw-big {
	0% { stroke-dashoffset: 0; transform: rotateY(180deg) rotate(360deg); }
	100% { stroke-dashoffset: 240; transform: rotateY(180deg) rotate(0deg); }
} 
*/














.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: +10;
  color: black;
}

.popup-content {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Show pop-up when it's open */
.popup.open {
  display: flex;
}

/* Hide the pop-up image when the pop-up is closed */
.popup-content img {
  display: none;
}

/* Show the pop-up image when the pop-up is open */
.popup.open .popup-content img {
  display: block;
  width: 50vw;
}










.work-section {
  padding: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work-sectionmc {
  background-image: url('https://images.pexels.com/photos/4101143/pexels-photo-4101143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-color: rgba(0,0,0,0.2);
}

.work-sectionsf {
  background-image: url('https://images.pexels.com/photos/7735630/pexels-photo-7735630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-color: rgba(0,0,0,0.2);
}

.work-sectionpt {
  background-image: url('https://images.pexels.com/photos/5466250/pexels-photo-5466250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-color: rgba(0,0,0,0.2);
}

.work-sectionlm {
  background-image: url('https://images.pexels.com/photos/280222/pexels-photo-280222.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-color: rgba(0,0,0,0.2);
}

.work-sectionyi {
  background-image: url('https://images.pexels.com/photos/4483610/pexels-photo-4483610.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-color: rgba(0,0,0,0.2);
}

.work-sectionis {
  background-image: url('https://images.pexels.com/photos/57007/pexels-photo-57007.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-color: rgba(0,0,0,0.2);
}

.work-sectionhv {
  background-image: url('https://images.pexels.com/photos/8422728/pexels-photo-8422728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-color: rgba(0,0,0,0.2);
}

.work-sectionhc {
  background-image: url('https://images.pexels.com/photos/11972897/pexels-photo-11972897.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-color: rgba(0,0,0,0.2);
}

.work-section-content {
  background-color:  rgb(36, 36, 36);;
  padding: 20px;
}






form {
  font-family: 'Source Code Pro', monospace;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  opacity: 100%;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
}

input[type="text"], input[type="name"], textarea {
  font-family: 'Source Code Pro', monospace;
  width: 30vw;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"], input[type="email"], textarea {
  font-family: 'Source Code Pro', monospace;
  width: 30vw;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"], input[type="subject"], textarea {
  font-family: 'Source Code Pro', monospace;
  width: 30vw;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"], input[type="message"], textarea {
  font-family: 'Source Code Pro', monospace;
  width: 30vw;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.formbutton {
  font-family: 'Source Code Pro', monospace;
  width: 30vw;
  padding: 12px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formbutton:hover {
  background-color: grey;
}

.formbutton:active {
  background-color: #004085;
}

.form-footer {
  text-align: center;
  margin-top: 20px;
}


a.grey-hover{
  color: white;
}
a.grey-hover:hover {
  color: grey; /* On hover, change text color to grey */
}



